body{
    font: normal normal 12px Verdana,Arial,'新微軟正黑體',Helvetica,sans-serif;
}
/* header */
.header .logo-wrapper{
    margin: 0 150px;
    padding: 24px 0 16px;
}
.header img{
    width: 138px;
    height: 54px;
}
@media (max-width: 768px) {
    .header .logo-wrapper {
    display: block;
    width: 100%;
    background: none repeat 0 0 scroll transparent;
    box-sizing: border-box;
    margin: 0px;
    padding: 15px 0 8px 0;
    text-align: center;
    text-indent: 0;
    border-bottom: 1px solid #f2f2f2;
    }
}
.form_information{
    width: 100%;
    padding: 58px 0px 50px;
    margin: auto;
    max-width: 375px;
}
.form_information h1{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
    border-left: 6px solid #FB6184;
}
.form_information .SMSaccount{
    padding-bottom: 30px;
}
.SMSaccount .input-wrap{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
}
.form_information .SMSaccount h3, .password h3{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.SMSaccount .mobilenum{
    font-size: 16px;
    padding: 10px 16px;
    border: 1px solid #BFC1C5;
    border-radius: 4px;
}
.input-password .passwordnum{
    font-size: 16px;
    padding: 10px 16px;
    border: 1px solid #BFC1C5;
    border-radius: 4px;
}
.form_information .password{
    padding-bottom: 30px;
}

.form_information .password .passwordnum{
    font-size: 16px;
    padding: 10px 16px;
    border: 1px solid #BFC1C5;
    border-radius: 4px;
    
}
.form_information .input-password{
    position: relative;
}
.form_information .show-password{
    background: url(../img/ic_eye_18_hidden.svg) no-repeat center;
    background-size: 24px;
}
.form_information .password .is-password-icon {
    width: 36px;
    height: 100%;
    position: absolute;
    right: 5px;
    top: 0;
}
.password a{
    font-weight:normal;
    color: #2B3340;
    text-decoration: none;
}
.password a:hover {
    font-weight:normal;
    color: #2b334070;
    text-decoration: none;
}
.login button{
    font-size: 16px;
    background-color: #FDA5B9;
    border: #FDA5B9;
    color:white;
    padding: 10px 16px;
}
.form_information .link{
    padding-bottom: 30px;
}
.form_information .link a{
    font-size: 14px;
    display: inline-block;
    padding: 10px 20px;
    color: #2369ff;
    text-decoration: none;
}



.link a:hover{
    color: #2369ffb4;
    text-decoration: none;
}

/* footer */

.footer-station-list {
    padding: 64px 0;
    margin: 0px auto 0 auto;
    background-color: #F2F5F9;
    width: 100%;
}
.footer-station-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.footer-station-icons_item-theme-ig {
    background: url(../img/ic_media_36_ig.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0px 12px;
}
.footer-station-icons_item-theme-fb {
    background: url(../img/ic_media_36_fb.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0px 12px;
}
.footer-station-icons_item-theme-youtube {
    background: url(../img/ic_media_36_youtube.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: 0px 12px;
}

.footer-station-info {
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
}
.footer-station-info_item {
    margin: 0 8px;
}
.footer-station-info_copyright {
    color: #AAADB3;
    text-align: center;
}
@media (max-width: 768px) {
    .footer-station-info {
        flex-wrap: wrap;
    }
    .footer-station-info p{
        padding-top: 10px;
    }
    .footer-station-info_copyright {
        padding-top:18px
    }
    .footer-station-list {
        margin: 10 auto;
    }
}
