    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS Rest End */
body {
    line-height: 1.5;

}

.container {
    width: 1296px;
    margin: 0 auto;
}

.title {
    margin-top: 160px;
}

.title h1 {
    font-size: 128px;
    letter-spacing: 12px;
}

.title img {
    display: block;
    margin: auto;
}

.title h2 {
    width: 622px;
    font-size: 128px;
    margin-left: auto;
    letter-spacing: 12px;
}

.aboutUs {
    background-color: #EFEFEF;
}

.aboutUs-text {
    width: 636px;
    margin-left: auto;
    font-size: 32px;
    padding: 48px 0 48px;
}

.content {
    width: 636px;
    margin: 80px 0 160px;
}

.content h3 {
    font-size: 40px;
    color: #AE0000;
    border-bottom: 3px solid #AE0000;
    margin-bottom: 16px;
    margin-top: 40px;
}

ul li span {
    font-size: 20px;
    color: #949494;
    font-style: italic;
}

ul li {
    font-size: 24px;
    margin-bottom: 16px;
}

.pt {
    padding-bottom: 8px;
}

.footer {
    background-color: #000;
    text-align: center;
    padding: 64px 0;
}

.footer .ig {
    padding: 0 40px;
}
